/* Для страницы входа */
/* .login-page body {
  background-color: black !important;
}

/* Для остальных страниц */
.app-page body {
  background-color: #fafafa !important;
}

/* input,
textarea,
select {
  background-color: white;
} */
